
.card {
  width: 400px;
  border: none;
  border-radius: 10px;
  background-color: #fff;

  h4{
    font-size: 1.3rem;
  }
}

.stats {
  background: #f2f5f8 !important;
  color: #000 !important
}

.articles {
  font-size: 10px;
  color: #a1aab9
}

.number1 {
  font-weight: 500
}

.followers {
  font-size: 10px;
  color: #a1aab9
}

.number2 {
  font-weight: 500
}

.rating {
  font-size: 10px;
  color: #a1aab9
}

.number3 {
  font-weight: 500
}

.status-con {
  color: #8f8484;
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
}

.social-icon {
  color: #c7c7c7;
}