@import '~bootstrap/scss/bootstrap.scss';

.header{
  img{
    width: 230px;
    float: left;
    margin-top: 5px;
  }
  span{
    font-size: 1.7rem;
    padding: 5px 0 0 20px;
    display: block;
    float: left;
    color: #353b48;
  }
}